th {
    text-transform: uppercase;
}

.help-block {
    color: #F64E60;
    font-size: 0.9rem;
    font-weight: 400;
}  

.kt_quick_panel {
    z-index: 9;
}

.daterangepicker {
    z-index: 99999;
}

#kt_quick_panel {
    overflow: auto;
} 

.mw200 {
    max-width: 200px;
}