.dropzone.dropzone-default .dz-remove {
    font-size: 12px !important;
}
.dropzone .dz-preview .dz-remove {
    font-size: 12px !important;
}
.dropzone .dz-preview.dz-error .dz-error-message {
    margin-top: 30px;
}